!.gitkeep

server/smp/*

!server/smp/server-icon.png
!server/smp/purpur.yml
!server/smp/server.properties
!server/smp/bukkit.yml

server/lobby/*
server/towny/*
server/velocity/*

db_data/*

shared/configs/LuckPerms/*
!shared/configs/LuckPerms/config.yml
shared/configs/SkinsRestorer/*
!shared/configs/SkinsRestorer/config.yml
shared/configs/TAB/playerdata.yml
shared/configs/TAB/skincache.yml
