!.gitkeep

server/smp/*

!server/smp/plugins/

server/smp/plugins/*

!server/smp/plugins/EssentialsX-2.21.2.jar

server/lobby/*
server/towny/*
server/velocity/*

db_data/*

shared/configs/LuckPerms/*
!shared/configs/LuckPerms/config.yml
shared/configs/SkinsRestorer/*
!shared/configs/SkinsRestorer/config.yml
shared/configs/TAB/playerdata.yml
shared/configs/TAB/skincache.yml
